body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4fff4;
}

.navbar {
  background: #2e7d32;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.home {
  background-image: url("https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?w=1200");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.overlay button {
  padding: 12px 20px;
  border: none;
  background: green;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters button {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

}
